/* Start Variables */

/*   هين بخليه فاريبول واني اقدر استخدمه بكل مكانن واعطيه الاسم الي بدي اياه*/
:root{
    --main-color:#10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;

}

/* End Variables */
/* Start Global Rules */
*{
    /* للمتصفحات */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto ;
    margin-right: auto;   
}

    /* Smail */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Components */
   .special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    /* بتقرب الكلمات عالبعض */
    letter-spacing: -3px;
    margin: 0;
   }
   .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
   }
   @media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p {
        margin-top:-20px; ;
    }
   }
   
/* End Components */

/* Start Header */
    .header{
        background-color: #445165d9;
        position: sticky;
        padding: 18px;
        top: 0;
        z-index: 2;
    }
    .header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .container .logo{
        width: 60px;
    }
    .header .links{
   /* عشان خاطر اعمل العناصر الي جواها اب سليوتلي  */
    position: relative;
    }


    /* هذه بتعمل انه الايقونة الثانية توصل لمية بمية لما اقرب الماوس عليها $$$$ */
    .header .links:hover .icon span:nth-child(2){
        width: 100%;
    }

    .header .links .icon{
    width: 30px;
    display: flex;
   /* عشان العناصر لما تملي الشاشة تنزل تحت */
    flex-wrap: wrap;
    /* عشان العناصر تعت ال سبان الرئيسية تروح ع شقة الشمال يعني اعكس اتجاها */
    justify-content: flex-end;
    }
    .header .links .icon span{
       background-color: #333;
       /*  عشان ما يلزقوا ببعض وينزلوا تحت بعض*/
       margin-bottom: 5px; 
       height: 2px;
    }
    .header .links .icon span:first-child{
        width: 100%;
    }

    .header .links .icon span:nth-child(2){
        width: 60%;
        /* راح اخلي الي بنص توصل للاخر بدل ما هيه قصيرة
          $$$$ عملت هوفر فوق عشان اخليها تكتمل */
        transition: 0.3s;
    }

    .header .links .icon span:last-child{
        width: 100%;
    }

    .header .links ul{
        /* بلغي الإستايل  */
        list-style: none;
        margin: 0;
        padding:0;
        background-color: var(--section-background);
        
        /* عملت البوسشن عشان اوزعها في الوضع المطلق */
        position: absolute;
        
        /*  عشان ما تطلع برا الشاشة عشان تبدأ من اول لنك في العنصر الي عملت اله هوفر*/
        right: 0;
        min-width: 200px;

        /* عملت هذه عشان في سهم من فوق ازود اله مساحة لما احط الماوس عليه ينزل الي القائمة  */
        top: calc(100% + 15px);

        /*   اعطيته هذه عشان أخفيه راح اظهرها  لما اعمل هوفر */
        display: none;
       
        /* عشان اخلي القائمة تظهر فوق الصورة */
        z-index: 1;
    }

    /* الوظيفة بتعمل جوا ال يو إل زي سهم  */
    .header .links ul ::before{
        content: "";
        /* عشان اقدر اعمل السهم لازم اعطيه بورد واقص منه */
        border-width: 10px;
        border-style: solid;
        border-color:red green blue black ;
        /* انا بدي السهم الثالت الي هو ازرق فلازم يكون الكل ترانس بيرنت والثالث نفس الباك قراوند */
        border-color: transparent transparent var(--section-background) transparent;
       
        /* بتظهر السهم في المنيو */
        position: absolute;
    
        /*العنصر تاع ال لنك قديش العرض   
        30 والعنصر الخاص في البورد قديش 20  ف في 5 بكسل يمين و خمسة شمال فهيك بصير بالنص بالضبط   */
        right: 5px;

        /* عشان اخلي السهم عقده بالضبط عشان تفهمها غير فيها وشوف السهم كيف راح يتحرك */
        top: -20px;
    }

    .header .links:hover ul {
        /* هين راح تظهر */
        display: block;
    }

    .header .links ul li a {
        display: block;
        padding: 15px;
        
        /* عشان أشيل الخط  الي تحته */
        text-decoration: none;

        color: #333;
        
        /* عشان اعمل عليه هوفر  */
        transition: 0.3s;
    }
    


    .header .links ul li a:hover {
        /* لانه في بادنج لجميع العناصر 15 بكسل  فأنا بخليه يتحرك بشكل ناعم 
        يعني لما احط الماوس عليه يروح ع جهة الشمال */
        padding-left: 25px;
    }

    /* a راح اعمل بودر من تحت ما عدا الاخيرة ال لاست شايلد يعني مش اخر وحدة ل ال */
    .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
    }
/* End Header */

 /* Start Landing Section  */
 .landing{
    background-image: url(../image/3899617.webp);
    background-size: cover;
    height: calc(100vh - 64px);
    /* هذه بتخليه يتوسط بناء ع الاب بتاعه وليس بناء ع الشاشة  */
    position: relative;
 }

 /* هذول عشان اخلي الكلام بالنص  */
 .landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

 .landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    /* هين بستخدم اللون الي انا وضعته فوق وبدي اياه */
    color:var(--main-color)
    
}


.landing .intro-text p{
    font-size: 19px;
    font-weight: 1.8;
}
 /* End Landing Section  */


/* Start Features */
    .features{
        padding-top: var(--section-padding);;
        padding-bottom: var(--section-padding);;
        background-color: var(--section-background);
    }

    .features .container{
        display: grid;
        /* حتى اوزع الاعمدة  */
        grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
    }
    .features .feat{
        padding: 20px;
        text-align: center;
    }
    .features .feat i {
        /* change the color */
        color: var(--main-color);
    }
    .features .featb h3 {
        font-weight: 800;
        margin: 30px 0 ;
    }

    .features .featb p {
        line-height: 1.8;
        color: #777;
        font-size: 17px;
    }
/* End Features */

/* Start Services */
    .services {
        padding-top: var(--section-padding);;
        padding-bottom: var(--section-padding);;
    }

    .services .services-content{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        margin-top: 100px;
    }
    .services .services-content .srv {
        display: flex;
        margin-bottom: 40px;
    }
    @media (max-width: 767px) {
        .services .services-content .srv {
            flex-direction: column;
            text-align: center;
        }
    }
    .services .services-content .srv i {
        color: var(--main-color);
        /* عشان لما اروح ع الموبيل يتعامل مع الايقونة بطول وعرض */
        flex-basis: 60px;
    }
    .services .services-content .srv text {
       /*  ياخذ عشان باقي المساحة ويترك 60 بكسل الي انا عاملهم هذول  */
        flex: 1;
    }
    .services .services-content .srv text h3{
        /*   عشان يكون موازي للايقون ويكون صفر من فوق وصفر من اليمين وتحت 20 */
        margin: 0 0 20;
    }
    .services .services-content .srv text p{
        color: #444;
        font-weight: 300;
        line-height: 1.6;
    }
    .services .services-content .image{
        text-align: center;
        position: relative;
    }
    .services .services-content .image::before {
       content: "";
       background-color:#364248;
       width: 100px;
       height: calc(100% + 100px);
       top: -50px;
       position: absolute;
       right: 0;
       z-index: -1;
    }
    /* لتقليل حجم الصورة */
    .services .services-content .image img {
        width:260px ;
    }
    @media (max-width: 1199px){
        
    }
/* End Services */


/* Start Portfolio */
    .portfolio {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-color: var(--section-background);
    }
    .portfolio .portfolio-content {
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        margin-top: 80px;
    }

    .portfolio .portfolio-content .card {
        background-color: white;
    }

    .portfolio .portfolio-content .card img {
        /*عشان ما بتطلع برا المحتوى */
        max-width: 100%;
    }    

    .portfolio .portfolio-content .card .info {
        padding: 20px;
    } 
    .portfolio .portfolio-content .card .info h3 {
        margin: 0;
    }
    .portfolio .portfolio-content .card .info p {
        color: #777;
        line-height: 1.6;
        margin-bottom: 0;
    }   
/* End portfolio */

/* Start About */
    .about{
        padding-top: var(--section-padding);
        padding-bottom: cala(var(--section-padding + 60px));
    }

    .about .about-content {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media (max-width: 991px) {
        .about .about-content{
            flex-direction: column;
            text-align: center;
        }
    }
    .about .about-content .image{
        position: relative;
        width: 250px;
        height: 375px;
    }

    @media (max-width: 991px){
        .about .about-content .image{
            margin: 0 auto 60px;
        }
    }

    .about .about-content .image::before {
        content:"";
        position: absolute;
        background-color: #ebeced;
        width: 100px;
        height: calc(100% + 80px);
        top: -40px;
        left: -20px;
        z-index: -1;
    }
    /* @media (max-width: 991px) {
        .about .about-content .image::before,
        .about .about-content .image::after {
       
        }
    } */
    .about .about-content .image::after{
        content: "";
        position: absolute;
        width: 120px;
        height: 250px;
        border-left: 80px solid rgb(109, 104, 104);
        border-bottom: 80px solid rgb(109, 104, 104);
        z-index: -1;
        right: -150px;
        top: -40px;
    }
    .about .about-content .image img{
        max-width: 100% ;
    }

    .about .about-content .text {
        /* عندك طريقتين للعملها  */
    flex-basis: calc(100% - 500px);
     padding-left: 20px;
     /* flex: 1;
     padding-left: 207px; */
    }

    .about .about-content .text p :first-of-type{
        font-weight: bold;
        line-height: 2;
        margin-bottom: 50px;

    }
    .about .about-content .text hr{
        width: 50%;
        display: inline-block;
        /* هذه من خلالها بتحكم بلون الخط */
        border-color: var(--main-color);
    }
    .about .about-content .text p :last-of-type{
        line-height: 2;
        color: #777;
    }
/* End About */

/* Start Contact */
    .contact{
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-color: var(--section-background);
    }

    .contact .info{
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        text-align: center;
        
    }

    .contact .info .label{
     font-size: 40px;
     font-weight: 800;
     color:  var(--secondary-color);   
     letter-spacing: -2px;
     margin-bottom: 15px;
    }


    .contact .info .link {
        display: block;
        font-size: 35px;
        font-weight: 800;
        color: var(--main-color);
        text-decoration: none;
    }

    .contact .info .social {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 16px;
    }

    .contact .info .social i {
        margin-left: 10px;
        color: var(--secondary-color);
        
    }

    .contact .info .social a {
        text-decoration: none;
        color:var(--main-color)
    }


    .contact .info .social a:hover {
       color: rgb(0, 0, 0);
    }
    
    /* .contact .info .social a:visited{
        color: red
      } */

    @media (max-width: 767px ) {
        .contact .info .label,
        .contact .info .link {
            font-size: 25px;
        }
    }
/* End Contact */


/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);  
}
/* End Footer */